<div id="grupos">
<p><strong>Nombre del profesor:</strong> <%#= @grupo.user.nombre_completo %></p>
<p><strong>Grupo:</strong> <%= @grupos_unitario.nombre %></p>
<p><strong>Horario:</strong> <%= @grupos_unitario.horario %></p>
<p><strong>Inscritos:</strong> <%= @inscritos %></p>
  <%= form_tag(asignar_calificaciones_unitarios_path, method: :get) do %>
  <table class="table table-bordered table-hover">
    <thead>
      <% if can? :editar_datos, @grupos_unitario %>
        <!--<#% if @grupo.estado == "Abierto" %>-->
          <th></th>
        <!--<#% end %>-->
      <% end %>
        <th width="5%">N&uacute;mero de lista</th>
        <th>Apellido paterno</th>
        <th>Apellido materno</th>
        <th>Nombre</th>
        <th>Examen final</th>
      </tr>
    </thead>

    <tbody>
        <% @unitarios.each_with_index do |unitario, index| %>
            <tr>
              <% if can? :editar_datos, @grupos_unitario %>
                <td><%= check_box_tag "unitario_ids[]", unitario.id %></td>
              <% end %>
              <td><%= index + 1 %></td>
              <td><%= unitario.paterno %></td>
              <td><%= unitario.materno %></td>
              <td><%= unitario.nombre %></td>
              <td><%= unitario.examen_final %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
    <% if can? :editar_datos, @grupos_unitario %>
        <input type="checkbox" id="selectAll" value="selectAll"><strong> Seleccionar / Deseleccionar todos</strong><br><br>
        <%= submit_tag "Asignar calificaciones", class:'btn btn-primary' %>
    <% end %>
  <% end %>
  <script>
  $('#selectAll').click(function() {
     if (this.checked) {
         $(':checkbox').each(function() {
             this.checked = true;
         });
     } else {
        $(':checkbox').each(function() {
             this.checked = false;
         });
     }
  });
  </script>
