<p>
  <strong>Nombre:</strong>
  <%= @grupos_unitario.nombre %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @grupos_unitario.horario %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @grupos_unitario.estado %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @grupos_unitario.anio %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @grupos_unitario.periodo %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @grupos_unitario.lugar %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @grupos_unitario.fecha %>
</p>

<p>
  <strong>Centro:</strong>
  <%= @grupos_unitario.centro %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @grupos_unitario.tipo %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @grupos_unitario.modalidad %>
</p>

<p>
  <strong>Cupo:</strong>
  <%= @grupos_unitario.cupo %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @grupos_unitario.duracion %>
</p>

<p>
  <strong>Cuota:</strong>
  <%= @grupos_unitario.cuota %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @grupos_unitario.clave %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @grupos_unitario.proyecto %>
</p>

<p>
  <strong>Institucion bancaria:</strong>
  <%= @grupos_unitario.institucion_bancaria %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @grupos_unitario.cuenta %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @grupos_unitario.titular %>
</p>

<p>
  <strong>Jefe ec:</strong>
  <%= @grupos_unitario.jefe_ec %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @grupos_unitario.registro %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @grupos_unitario.referencia %>
</p>

<p>
  <strong>Habilitar constancias grupo:</strong>
  <%= @grupos_unitario.habilitar_constancias_grupo %>
</p>

<%= link_to 'Edit', edit_grupos_unitario_path(@grupos_unitario) %> |
<%= link_to 'Back', grupos_unitarios_path %>
