<h3 class="sub"><%= @nombre_diplomado %></h3>
<%= form_tag actualizar_calificaciones_calificacion_modulos_path, method: :patch do %>
<div class="row">
  <div class="col-md-6">
    <table class="table table-bordered">
      <tr>
        <td><strong>Nombre</strong></td>
        <td>Calificación</td>
      </tr>
      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.paterno_materno_nombre %></td>
            <td></td>
            <% @calificacion_modulos.each do |calificacion_modulo| %>
              <% if usuario.id == calificacion_modulo.inscripcion_diplomado_id %>
                <%= fields_for "calificaciones[]", calificacion_modulo do |f| %>
                  <tr>
                    <td>Módulo <%= calificacion_modulo.numero_modulo %>
                    <td><%= f.text_field :calificacion, value: calificacion_modulo.calificacion, class:'form-control' %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-2">

  </div>
</div>
<%= submit_tag "Guardar calificaciones", class: 'btn btn-primary' %>
<% end %>
<br>
<%= link_to 'Regresar', :back %>
