<p>
  <strong>Nombre del diplomado:</strong>
  <%= @grupos_diplomado.diplomado.nombre %>
</p>

<p>
  <strong>Nombre del grupo:</strong>
  <%= @grupos_diplomado.nombre %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @grupos_diplomado.horario %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @grupos_diplomado.estado %>
</p>

<p>
  <strong>Anio:</strong>
  <%= @grupos_diplomado.anio %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @grupos_diplomado.inicio %>
</p>

<p>
  <strong>Termino:</strong>
  <%= @grupos_diplomado.termino %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @grupos_diplomado.horario %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @grupos_diplomado.lugar %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @grupos_diplomado.fecha %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @grupos_diplomado.tipo %>
</p>

<p>
  <strong>Modalidad:</strong>
  <%= @grupos_diplomado.modalidad %>
</p>

<p>
  <strong>Cupo:</strong>
  <%= @grupos_diplomado.cupo %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @grupos_diplomado.duracion %>
</p>

<p>
  <strong>Cuota:</strong>
  <%= @grupos_diplomado.cuota %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @grupos_diplomado.clave %>
</p>

<p>
  <strong>Proyecto:</strong>
  <%= @grupos_diplomado.proyecto %>
</p>

<p>
  <strong>Institucion bancaria:</strong>
  <%= @grupos_diplomado.institucion_bancaria %>
</p>

<p>
  <strong>Cuenta:</strong>
  <%= @grupos_diplomado.cuenta %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @grupos_diplomado.titular %>
</p>

<p>
  <strong>Jefe ec:</strong>
  <%= @grupos_diplomado.jefe_ec %>
</p>

<%= link_to 'Editar', edit_grupos_diplomado_path(@grupos_diplomado) %> |
<%= link_to 'Regresar', grupos_diplomados_path %>
