<div class="row">
  <div class="col-md-12">
    <input type="button" id="btn-talon" value="Imprimir" class="btn btn-md btn-primary">
  </div>
</div>
<div class="row">
   <% @unitarios.each do |unitario| %>
  <div id="carta_compromiso">
      <p style="page-break-before: always;">&nbsp;</p>
      <h2 align="center"><strong><%= unitario.grupos_unitario.nombre.parameterize(separator: ' ').upcase %></strong></h3>
      <h3 align="center"><strong>CARTA COMPROMISO</strong></h4>
      <br>
      <h4>FOLIO <%= unitario.id %></h4>
      <br>
      <p align="right"><strong>Ciudad de México, a <%= Date.today.strftime("%d") %> de  <%= @mes %> de <%= Date.today.strftime("%Y") %></strong></p>
      <br>
      <br>
      <br>
      <p><strong>DR. MAURO ALBERTO ENCISO AGUILAR<br>
      DIRECTOR DEL CENTRO DE EDUCACIÓN CONTINUA<br>
      INGENIERO EUGENIO MÉNDEZ DOCURRO DEL IPN<br>
      P R E S E N T E</strong></p>
      <br>
      <br>
      <br>
      <table class="table table-bordered">
      <tr>
        <td rowspan="3"><p align="center"><strong>El que suscribe</strong></p></td>
        <td colspan="3"><p align="center"><strong>Datos del interesado</strong></p></td>
      </tr>
      <tr>
        <td><p align="center"><%= unitario.paterno %></p></td>
        <td><p align="center"><%= unitario.materno %></p></td>
        <td><p align="center"><%= unitario.nombre %></p></td>
      </tr>
      <tr>
        <td><p align="center"><strong>Apellido paterno</strong></p></td>
        <td><p align="center"><strong>Apellido materno</strong></p></td>
        <td><p align="center"><strong>Nombre(s)</strong></p></td>
      </tr>
    </table>
    <br>
    <br>
    <p>Me comprometo con el Centro de Educación Continua Ingeniero Eugenio Méndez Docurro
      del Instituto Politécnico Nacional, que usted dignamente dirige, a acatar las
      disposiciones reglamentarias y de disciplina que rigen la vida institucional;
      en el entendido de que si quebranto la normatividad, aceptaré las sanciones a que
      me haga acreedor, incluyendo en su caso, reparar de inmediato cualquier desperfecto
      ocasionado al inmueble, instalaciones o equipamiento; o en su caso, cubrir el total
      del importe derivado de dicha reparación.</p>
      <br>
      <br>
      <p>Cabe mencionar que estoy plenamente consciente de que el hecho de inscribirme,
        sustentar y acreditar este curso propedéutico, de ninguna manera implica la aceptación
        automática en el Instituto Politécnico Nacional ni en ninguna otra institución educativa
        para el ciclo escolar 2017-2018.</p>
      <br>
      <br>
      <br>
      <br>
      <p align="center">A T E N T A M E N T E</p>
      <br>
      <br>
      <br>
      <p align="center">_____________________________________</p>
      <p align="center"><%= unitario.nombre_paterno_materno %></p>
      <p align="center">Firma del Interesado</p>
      <br>
      <br>
      <br>
      <p align="center">_____________________________________</p>
      <p align="center"><%= unitario.nombre_padre %></p>
      <p align="center">Firma del Padre o tutor</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p style="page-break-after: always;">&nbsp;</p>
      <h2 align="center">LINEAMIENTOS DE CONDUCTA</h2>
      <p>La comunidad del Centro de Educación Continua Ingeniero Eugenio Méndez Docurro del
        Instituto Politécnico Nacional les da la más cordial bienvenida.</p>
      <p>Con la finalidad de que las actividades académicas se desarrollen de una manera
        cordial, seguridad y bienestar, orientados a propiciar un ambiente de aprendizaje
        con valores y responsabilidad social hacemos de su conocimiento los lineamientos
        de comportamiento que deberán observar al interior de las instalaciones:
      </p>
      <ol type="1">
        <li>
          <p>Mostrar la credencial para ingresar a las instalaciones y cuando el
          personal del Centro se los solicite</p>
        </li>
        <li>
          <p>El acceso a las instalaciones será de acuerdo a los siguientes horarios:</p>
        </li>
        <ol type="a">
          <li>
            <p>De las 07:45 a las 8:30 horas para el Curso Propedéutico para el
            Examen de Admisión al Nivel Medio Superior “Nivel Medio Superior”.</p>
          </li>
          <li>
            <p>De las 14:45 a las 15:30 horas para el Curso de Preparación para
              el Examen de Admisión al Nivel Superior “Nivel Superior”, en el
              caso de las sesiones extraordinarias de las 07:45 a las 8:30 horas.</p>
          </li>
        </ol>
        <li><p>Los usuarios del Nivel Medio Superior no podrán salir del Centro
          durante los recesos; se les recomienda traer sus alimentos y agua para
          consumirlos en los descansos.</p>
        </li>
        <li>
          <p>Los usuarios del Nivel Superior en caso de ser necesario sólo podrán
            salir de las instalaciones en el primer receso, debiendo regresar
            antes de que concluya este.
          </p>
        </li>
        <li>
          <p>Los usuarios del Nivel Medio Superior se podrán retirarse, cuando sus
            padres soliciten el permiso por escrito y sean ellos quienes pasen a
            recogerlos. El permiso tendrá que ser dirigido al Coordinador Académico
            Ing. Armando Aparicio Pérez.
          </p>
        </li>
        <li>
          <p>En el caso de que algún usuario del Nivel Medio Superior se sienta
            mal de salud y los Servicios Médicos consideren que debe retirarse,
            se llamará a los padres para que pasen a recogerlo. Por lo cual se
            les solicita dejar un número telefónico donde sea fácil su localización.
          </p>
        </li>
        <li>
          <p>Observar buen comportamiento personal y de respeto para con sus
            compañeros, instructores, trabajadores, autoridades y personal del Centro.
          </p>
        </li>
        <li>
          <p>Mantener orden y disciplina en el aula, así como en las instalaciones.</p>
        </li>
        <li>
          <p>No consumir alimentos, ni bebidas, ni masticar chicle al interior de las aulas.</p>
        </li>
        <li>
          <p>Conservar y cuidar las instalaciones (paredes, ventanas, pizarrones,
            lámparas, ventiladores, equipo de cómputo, videoproyectores,
            mobiliario en general), servicios sanitarios, jardines y demás áreas
            del Centro.
          </p>
        </li>
        <li>
          <p>Queda estrictamente prohibido  introducir al Centro objetos punzocortantes,
            armas de fuego bebidas alcohólicas, y juegos de azar.</p>
        </li>
        <li>
          <p>No introducir al Centro pelotas, patinetas, patines, etc.  No se cuenta con
            espacios para jugar o correr.</p>
        </li>
        <li>
          <p>En los descansos evitar acercarse a las bardas del estacionamiento y al socavón.</p>
        </li>
        <li>
          <p>Evitar muestras de cariño entre usuarios. Reserven estas muestras
            fuera de las instalaciones del Centro.</p>
        </li>
        <li>
          <p>Abstenerse de usar celulares y/o dispositivos móviles durante las clases.
            Es responsabilidad de cada usuario el uso y el cuidado de sus celulares
            y dispositivos móviles, por lo que el Centro no se hace responsable de
            la pérdida o  mal uso.</p>
        </li>
      </ol>
      <p>Sera motivo para suspensión del curso, lo siguiente: </p>
      <ol type="A">
        <li>
          <p>Mostrar indisciplina dentro de las aulas e instalaciones así como falta
            de respeto hacia sus compañeros, profesores y personal del Centro.</p>
        </li>
        <li>
          <p>Las instalaciones del Centro son libres de humo de tabaco, por lo
            tanto queda estrictamente prohibido fumar. Queda prohibido consumir
            cualquier sustancia nociva para la salud (bebidas alcohólicas, drogas, etc.)
            dentro del Centro.</p>
        </li>
        <li>
          <p>Traer objetos punzocortantes o cualquier otro que resulte peligroso
            para los demás usuarios.</p>
        </li>
        <li><p>Participar en peleas al interior del Centro.</p></li>
        <li><p>Participar o generar apuestas en juegos de azar (cartas, dados,
          poliana o poleana), etc.</p>
        </li>
        <li><p>Tomar bienes que no sean de su propiedad.</p></li>
      </ol>
      <p>Sabemos que juntos lograremos una formación integral de sus hijos,
        gracias por su confianza.</p>
      <table class="table borderless">
        <tr>
          <td>
            <br>
            <br>
            <p align="center">_____________________________________</p>
            <p align="center"><%= unitario.nombre_paterno_materno %></p>
            <p align="center">Firma del Interesado</p>
          </td>
          <td>
            <br>
            <br>
            <p align="center">_____________________________________</p>
            <p align="center"><%= unitario.nombre_padre %></p>
            <p align="center">Firma del Padre o tutor</p>
          </td>
        </tr>
      </table>
      <p style="page-break-after: always;">&nbsp;</p>
  </div>
  <% end %>
</div>
<br>
<%= link_to "Regresar", root_path %>
<script>
$("#btn-talon").click(function () {
    //Hide all other elements other than printarea.
    $("#carta_compromiso").show();
    window.print();
});
</script>
