<h2 class="sub">Historial acad&eacute;mico</h2>
<div class="row">
  <div class="col-md-8">
    <input type="button" id="btn-historial" value="Imprimir historial" class="btn btn-md btn-primary">
  </div>
</div>
<br>
<div id="historial_carta">
  <h5><strong>A QUIÉN CORRESPONDA:</strong></h5>
  <p>Con base a la documentación que obra en los expedientes de los Cursos Curriculares de Lenguas Extranjeras (CELEX) del Centro de Educación Continua
     Ingeniero Eugenio Méndez Docurro, hace constar que el C. <%= @user.nombre_paterno_materno %>, con número de matrícula: , ha cursado los módulos
     del programa de Inglés de este Centro como a continuación se detalla:</p>
  </p>
  <!--<p>El que suscribe, con base a la documentación que obra en los expedientes del archivo a cargo de Control
    Escolar, y con el registro otorgado por la Dirección de Formación de Lenguas Extranjeras en su oficio DFLE-772-15
    se hace constar que el C. <#%= @user.nombre_paterno_materno %> <#% if @examen_colocacion.present? %>realizando examen de
    coloación en el nivel: <#%= @examen_colocacion.nivel_asignado %></p><#% else %>,estudió en este CELEX el idioma Inglés en los siguientes niveles:</p><#% end %>-->
  <table class="table table-bordered">
    <tr>
      <th>Módulo</th>
      <th>Nivel MCER</th>
      <th>Curso</th>
      <th>Periodo</th>
      <th>Horas</th>
      <th>Calificación</th>
    </tr>
    <!--<#% @inscripcion_registros.each do |inscripcion_registro| %>-->
      <% if @basico1.nil? %>
      <tr>
        <td>B&aacute;sico 1</td>
        <td>A1 1/2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @basico1.nivel %></td>
        <td>A1 1/2</td>
        <td><%= @basico1.curso %></td>
        <td><%= @basico1.periodo %></td>
        <td>40</td>
        <td><%= @basico1.promedio %></td>
      </tr>
      <% end %>
      <% if @basico2.nil? %>
      <tr>
        <td>B&aacute;sico 2</td>
        <td>A1 2/2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @basico2.nivel %></td>
        <td>A1 2/2</td>
        <td><%= @basico2.curso %></td>
        <td><%= @basico2.periodo_anio %></td>
        <td>40</td>
        <td><%= @basico2.promedio %></td>
      </tr>
      <% end %>
      <% if @basico3.nil? %>
      <tr>
        <td>B&aacute;sico 3</td>
        <td>A2 1/3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @basico3.nivel %></td>
        <td>A2 1/3</td>
        <td><%= @basico3.curso %></td>
        <td><%= @basico3.periodo %></td>
        <td>40</td>
        <td><%= @basico3.promedio %></td>
      </tr>
      <% end %>
      <% if @basico4.nil? %>
      <tr>
        <td>B&aacute;sico 4</td>
        <td>A2 2/3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @basico4.nivel %></td>
        <td>A2 2/3</td>
        <td><%= @basico4.curso %></td>
        <td><%= @basico4.periodo %></td>
        <td>40</td>
        <td><%= @basico4.promedio %></td>
      </tr>
      <% end %>
      <% if @basico5.nil? %>
      <tr>
        <td>B&aacute;sico 5</td>
        <td>A2 3/3</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @basico5.nivel %></td>
        <td>A2 3/3</td>
        <td><%= @basico5.curso %></td>
        <td><%= @basico5.periodo %></td>
        <td>40</td>
        <td><%= @basico5.promedio %></td>
      </tr>
      <% end %>
      <% if @intermedio1.nil? %>
      <tr>
        <td>Intermedio 1</td>
        <td>B1 1/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @intermedio1.nivel %></td>
        <td>B1 1/5</td>
        <td><%= @intermedio1.curso %></td>
        <td><%= @intermedio1.periodo %></td>
        <td>40</td>
        <td><%= @intermedio1.promedio %></td>
      </tr>
      <% end %>
      <% if @intermedio2.nil? %>
      <tr>
        <td>Intermedio 2</td>
        <td>B1 2/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @intermedio2.nivel %></td>
        <td>B1 2/5</td>
        <td><%= @intermedio2.curso %></td>
        <td><%= @intermedio2.periodo %></td>
        <td>40</td>
        <td><%= @intermedio2.promedio %></td>
      </tr>
      <% end %>
      <% if @intermedio3.nil? %>
      <tr>
        <td>Intermedio 3</td>
        <td>B1 3/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @intermedio3.nivel %></td>
        <td>B1 3/5</td>
        <td><%= @intermedio3.curso %></td>
        <td><%= @intermedio3.periodo %></td>
        <td>40</td>
        <td><%= @intermedio3.promedio %></td>
      </tr>
      <% end %>
      <% if @intermedio4.nil? %>
      <tr>
        <td>Intermedio 4</td>
        <td>B1 4/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @intermedio4.nivel %></td>
        <td>B1 4/5</td>
        <td><%= @intermedio4.curso %></td>
        <td><%= @intermedio4.periodo %></td>
        <td>40</td>
        <td><%= @intermedio4.promedio %></td>
      </tr>
      <% end %>
      <% if @intermedio5.nil? %>
      <tr>
        <td>Intermedio 5</td>
        <td>B1 5/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @intermedio5.nivel %></td>
        <td>B1 5/5</td>
        <td><%= @intermedio5.curso %></td>
        <td><%= @intermedio5.periodo %></td>
        <td>40</td>
        <td><%= @intermedio5.promedio %></td>
      </tr>
      <% end %>
      <% if @avanzado1.nil? %>
      <tr>
        <td>Avanzado 1</td>
        <td>B2 1/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @avanzado1.nivel %></td>
        <td>B2 1/5</td>
        <td><%= @avanzado1.curso %></td>
        <td><%= @avanzado1.periodo %></td>
        <td>40</td>
        <td><%= @avanzado1.promedio %></td>
      </tr>
      <% end %>
      <% if @avanzado2.nil? %>
      <tr>
        <td>Avanzado 2</td>
        <td>B2 2/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @avanzado2.nivel %></td>
        <td>B2 2/5</td>
        <td><%= @avanzado2.curso %></td>
        <td><%= @avanzado2.periodo %></td>
        <td>40</td>
        <td><%= @avanzado2.promedio %></td>
      </tr>
      <% end %>
      <% if @avanzado3.nil? %>
      <tr>
        <td>Avanzado 3</td>
        <td>B2 3/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @avanzado3.nivel %></td>
        <td>B2 3/5</td>
        <td><%= @avanzado3.curso %></td>
        <td><%= @avanzado3.periodo %></td>
        <td>40</td>
        <td><%= @avanzado3.promedio %></td>
      </tr>
      <% end %>
      <% if @avanzado4.nil? %>
      <tr>
        <td>Avanzado 4</td>
        <td>B2 4/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @avanzado4.nivel %></td>
        <td>B2 4/5</td>
        <td><%= @avanzado4.curso %></td>
        <td><%= @avanzado4.periodo %></td>
        <td>40</td>
        <td><%= @avanzado4.promedio %></td>
      </tr>
      <% end %>
      <% if @avanzado5.nil? %>
      <tr>
        <td>Avanzado 5</td>
        <td>B2 5/5</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% else %>
      <tr>
        <td><%= @avanzado5.nivel %></td>
        <td>B2 5/5</td>
        <td><%= @avanzado5.curso %></td>
        <td><%= @avanzado5.periodo %></td>
        <td>40</td>
        <td><%= @avanzado5.promedio %></td>
      </tr>
      <% end %>
    <!--<#% end %>-->
  </table>

  <p>El historial muestra que el usuario ha concluido los estudios correspondientes al nivel de acuerdo con el Marco Común Europeo de Referencia
    para las Lenguas (MCER).<br>A petición del interesado y para los fines académicos que considere perninentes, se extiende la presente en la Ciudad de México
  a los <%= @dias %> del mes de <%= @mes %> del año <%= @anio %>.</p>

</div>
<script>
$("#btn-historial").click(function () {
    //Se ocultan los demás elementos antes de imprimir.
    $("#historial_carta").show();
    window.print();
});
</script>
