<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @fr_inscripcion_registro.nombre %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @fr_inscripcion_registro.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @fr_inscripcion_registro.materno %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @fr_inscripcion_registro.idioma %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @fr_inscripcion_registro.horario %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @fr_inscripcion_registro.nivel %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @fr_inscripcion_registro.curso %>
</p>

<p>
  <strong>Opcion uno:</strong>
  <%= @fr_inscripcion_registro.opcion_uno %>
</p>

<p>
  <strong>Opcion dos:</strong>
  <%= @fr_inscripcion_registro.opcion_dos %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @fr_inscripcion_registro.telefono %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @fr_inscripcion_registro.periodo %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @fr_inscripcion_registro.correo %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @fr_inscripcion_registro.sexo %>
</p>

<p>
  <strong>Cuota:</strong>
  <%= @fr_inscripcion_registro.cuota %>
</p>

<p>
  <strong>Movimiento:</strong>
  <%= @fr_inscripcion_registro.movimiento %>
</p>

<p>
  <strong>Procedencia:</strong>
  <%= @fr_inscripcion_registro.procedencia %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @fr_inscripcion_registro.grupo %>
</p>

<p>
  <strong>Examen medio:</strong>
  <%= @fr_inscripcion_registro.examen_medio %>
</p>

<p>
  <strong>Examen final:</strong>
  <%= @fr_inscripcion_registro.examen_final %>
</p>

<p>
  <strong>Documentos validados:</strong>
  <%= @fr_inscripcion_registro.documentos_validados %>
</p>

<p>
  <strong>Boleta:</strong>
  <%= @fr_inscripcion_registro.boleta %>
</p>

<p>
  <strong>Oferta grupo:</strong>
  <%= @fr_inscripcion_registro.oferta_grupo %>
</p>

<p>
  <strong>User:</strong>
  <%= @fr_inscripcion_registro.user %>
</p>

<p>
  <strong>Habilitar constancia:</strong>
  <%= @fr_inscripcion_registro.habilitar_constancia %>
</p>

<p>
  <strong>Habilitar historial:</strong>
  <%= @fr_inscripcion_registro.habilitar_historial %>
</p>

<p>
  <strong>Oficio prestacion:</strong>
  <%= @fr_inscripcion_registro.oficio_prestacion %>
</p>

<p>
  <strong>Monto pagado:</strong>
  <%= @fr_inscripcion_registro.monto_pagado %>
</p>

<%= link_to 'Edit', edit_fr_inscripcion_registro_path(@fr_inscripcion_registro) %> |
<%= link_to 'Back', fr_inscripcion_registros_path %>
