<div id="grupos">
<p><strong>Nombre del profesor:</strong> <%= @grupo.user.nombre_completo %></p>
<p><strong>Grupo:</strong> <%= @grupo.nombre %></p>
<p><strong>Idioma:</strong> <%= @grupo.idioma %></p>
<p><strong>Horario:</strong> <%= @grupo.horario %></p>
<p><strong>Inscritos:</strong> <%= @inscritos %></p>
<%= form_tag asignar_calificaciones_inscripcion_registros_path do %>
<table class="table table-bordered table-hover">
  <thead>
    <% if can? :asignar_calificaciones, @grupo %>
      <% if @grupo.estado == "Abierto" %>
        <th></th>
      <% end %>
    <% end %>
      <th width="5%">N&uacute;mero de lista</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Nombre</th>
      <th>Examen medio</th>
      <th>Examen final</th>
      <th>Promedio</th>
    </tr>
  </thead>

  <tbody>
      <% @inscripcion_registros.each_with_index do |inscripcion_registro, index| %>
          <tr>
            <% if can? :asignar_calificaciones, @grupo %>
              <% if @grupo.estado == "Abierto" %>
                <td><%= check_box_tag "inscripcion_registro_ids[]", inscripcion_registro.id %></td>
              <% end %>
            <% end %>
            <td><%= index + 1 %></td>
            <td><%= inscripcion_registro.paterno %></td>
            <td><%= inscripcion_registro.materno %></td>
            <td><%= inscripcion_registro.nombre %></td>
            <td><%= inscripcion_registro.examen_medio %></td>
            <td><%= inscripcion_registro.examen_final %></td>
            <td><%= inscripcion_registro.promedio %></td>
          </tr>
      <% end %>
  </tbody>
</table>
</div>
<% if can? :asignar_calificaciones, @grupo %>
  <% if @grupo.estado == "Abierto" %>
    <input type="checkbox" id="selectAll" value="selectAll"><strong> Seleccionar / Deseleccionar todos</strong><br><br>
    <%= submit_tag "Asignar calificaciones", class:'btn btn-primary' %>
  <% end %>
<% end %>
<% end %>

<input type="button" id="btn-imprimir" value="Imprimir" class="btn btn-md btn-default">
<br>
<%= render 'grupos/links' %>

<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>
<script>
$("#btn-imprimir").click(function () {
    //Hide all other elements other than printarea.
    $("#grupos").show();
    window.print();
});
</script>
