<%= form_for(unitario) do |f| %>
  <% if unitario.errors.any? %>
    <div id="error_explanation">
      <h2>El formulario no pudo guardarse debido a lo siguiente:</h2>

      <ul>
      <% unitario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bs-callout bs-callout-warning" >
      <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <%= link_to '¿Perdiste tu carta compromiso? Reimprímela', buscar_cartas_path %></strong>
    </div>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Oferta actual</strong></h4>
  <div class="row">
    <div class="form-group col-sm-5">
      <%= f.label :grupos_unitario_id, 'Nombre del curso' %>
      <%= collection_select(:unitario, :grupos_unitario_id, GruposUnitario.where(estado: 'Abierto'), :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Informaci&oacute;n general</strong></h4>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :curp, 'CURP' %><strong><%= link_to '  ¿No conoce su CURP?', 'http://consultas.curp.gob.mx', html_options = {target: '_blank'} %></strong>
      <%= f.text_field :curp, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :nombre, 'Nombre (s)' %>
      <%= f.text_field :nombre, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, class:'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :sexo %>
      <%= collection_select(:unitario, :sexo, Genero.all, :genero, :genero, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :nacimiento, 'Fecha de nacimiento' %><br>
      <div class="input-group date">
        <%= f.text_field :nacimiento, class:'nacimiento form-control' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :domicilio %>
      <%= f.text_field :domicilio, class:'form-control' %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :codigo_postal, 'Código postal'  %>
      <%= f.text_field :codigo_postal, class:'form-control' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :entidad, 'Entidad federativa' %>
      <%= f.text_field :entidad, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :delegacion_municipio, 'Delegación o municipio' %>
      <%= f.text_field :delegacion_municipio, class:'form-control' %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :telefono_celular, 'Teléfono celular' %>
      <%= f.text_field :telefono_celular, class:'form-control', required: true %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :telefono_fijo, 'Teléfono fijo' %>
      <%= f.text_field :telefono_fijo, class:'form-control' %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, class:'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :procedencia, 'Escuela de procedencia' %>
      <%= f.text_field :procedencia, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre_padre, 'Nombre del padre o tutor' %>
      <%= f.text_field :nombre_padre, class:'form-control', required: true %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :correo_padre, 'Correo electrónico del padre o tutor' %>
      <%= f.text_field :correo_padre, class:'form-control' %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :telefono_padre, 'Teléfono del padre o tutor' %>
      <%= f.text_field :telefono_padre, class:'form-control', required: true %>
    </div>
  </div>
  <strong><%= link_to 'Aviso de privacidad', 'https://www.gob.mx/privacidad', html_options = {target: '_blank'} %></strong>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Fotografía</strong></h4>
  <!--<div class="bs-callout bs-callout-info" style="background: #fff;">
    <p class="info-foto"><strong>Instrucciones</strong></p>
    <p class="info-foto">La fotografía que se suba al sistema deberá haber sido tomada recientemente.</p>
    <p class="info-foto">Deberá de aparecer con el rostro de frente, centrado, viendo a la cámara, ocupando por lo menos el 70% de
       la fotografía, sin gorros, sombreros ni nada que cubra la cabeza. El peinado deberá
       permitir ver el contorno de la cara. La fotografía deberá de tomarse en un lugar iluminado.</p>-->
    <!--<div class="bs-callout bs-callout-danger" style="background: #fff;">
      <p class="info-foto"><strong>En caso de no poder subir la fotografía deberá de traerla en una memoria USB en
        formato digital (JPEG) con una medida de 750x935 pixeles junto con los documentos de inscripción.</strong></p>
    </div>-->
    <!--<p class="info-foto"><strong>Ejemplos:</strong></p>
      <%= image_tag "hombre.png", alt:"Ejemplo hombre" %> &nbsp; <%= image_tag "mujer.png", alt:"Ejemplo mujer" %>
      <br>
      <br>
  </div>-->

  <div class="form-group col-sm-2">
    <%= f.label :image, 'Suba su fotografía' %>
    <%= f.file_field :image, class:'btn btn-lg btn-default' %>
  </div>
</div>
<% if user_signed_in? %>
  <% if can? :validar_documentos, unitario %>
  <div class="row jumbotron">
    <h4 class="subs"><strong>Control escolar</strong></h4>
    <div class="row">
      <div class="form-group col-sm-3">
        <%= f.label :documentos_validados, "Documentos validados" %>
        <%= f.check_box :documentos_validados, class: 'form-control openmodal' %>
      </div>
      <div class="col-md-3">
        <%= f.label :image, 'Fotografía' %><br>
        <% if unitario.image.present? %>
          <%= image_tag unitario.image.url('thumb') %>
        <% else %>
          <%= "Falta fotogrtafía" %>
        <% end %>
      </div>
      <!--<%# if can? :habilitar_contancia, unitario %>
        <div class="form-group col-sm-3">
          <%#= f.label :habilitar_constancia, "Constancia" %>
          <%#= f.check_box :habilitar_constancia, class: 'form-control' %>
        </div>
      <%# end %>-->
    </div>
  </div>
  <% end %>
<% end %>

<div class="row">
  <div class="actions col-sm-2">
    <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </div>
</div>
<% end %>

<div id="mensaje-validacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-head-azul">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Importante</strong></h4>
            </div>
            <div class="modal-body">
                <p>Antes de validar asegúrese de que <strong>no falta ninguno</strong> de los siguientes documentos:</p>
                <ul>
                    <li><p>La fotografía en el sistema</p></li>
                    <li><p>CURP</p></li>
                    <li><p>Pago de la guía de estudios</p></li>
                    <li><p>Ficha de pago</p></li>
                    <li><p>Carta compromiso y carta de lineamientos debidamente firmada</p></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de entrada -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="entrada">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <center>
              <%= image_tag "cec_escudo.png", alt:"Escudo CECIEMD" %>
            </center>
            <h2 align="center">Las inscripciones a los cursos de preparación para el examen de nivel medio y superior estarán disponibles a partir del día 16 de noviembre.</h2>
            <br>
            <br>
            <br>
        </div>
      </div>
    </div>

<!-- Modal -->
    <div id="mediaSuperior" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header panel-head-azul">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h2 class="modal-title" align="center"><strong>Instrucciones<br>
            Curso propedéutico para el examen de admisión al nivel medio superior</strong></h2>
          </div>
          <div class="modal-body">
            <h3 align="center"><strong>Indicaciones</strong></h3>
            <ol type="1">
              <li>
                <p>Captura tus datos personales <strong>a partir del 16 de noviembre de 2017 y hasta el viernes 27 de enero de 2018</strong>.</p>
              </li>
              <li>
                <p>Imprime la Carta Compromiso y la Carta de Lineamientos anexa en el sistema, verifica que tus datos sean correctos, fírmala y pide a tu padre o tutor que la firme.</p>
              </li>
              <li>
                <p>Efectua el pago exacto de la cuota por una cantidad de <strong>$2,049.00 (dos mil cuarenta y nueve pesos 00/100 M. N.)</strong> al número de cuenta
                <strong>01 68 35 82 73</strong> de BBVA Bancomer S. A., a nombre del fondo de <strong>Investigación Científica y Desarrollo Tecnológico del Instituto
                Politécnico Nacional</strong>.</p>
                <div class="bs-callout bs-callout-info">
                  <p>En el caso de realizar una transferencia electrónica deberá traer una impresión de pantalla como comprobante de pago.</p>
                </div>
              </li>
              <li>
                <p><strong>El día que te presentes a inscribirte, deberás pagar en efectivo</strong> la cuota de <strong>$298.00 (doscientos noventa y ocho pesos 00/100 M. N.)</strong> para la
                  guía de estudios.</p>
                 <div class="bs-callout bs-callout-danger">
                  <p>El pago de las cuotas te dan derecho a participar en el curso, a la guía de estudios que emite el Instituto Politénico Nacional, al material didáctico
                  que elaboramos para ti, a las evaluaciones diagnóstica y piloto, entre otros materiales que se te proporcionarán durante el desarrollo del curso.</p>
                  <p><strong>Nota: estas cuotas tienen vigencia hasta el 31 de diciembre de 2017, a partir del 01 de enero de 2018 tendrán un incremento que establecerá
                   la Secretaría de Hacienda y Crédito Público.</strong></p>
                 </div>
              </li>
              <li>
                <p><strong>Acude a inscribirte</strong> a nuestras instalaciones ubiucadas en Allende número 38 (entrada por Belisario Domínguez número 22), Colonia Centro, Delegación Cuauhtémoc,
                Ciudad de México, Código Postal 06010 <strong>a partir del 16 de noviembre de 2017 y hasta el día 27 de enero de 2018, en un horario de 10:00 a 14:00 y de 15:00 a
                19:00 horas de lunes a viernes</strong>.</p>
              </li>
              <li>
                <p>Si necesitas más información puedes llamar al 57-29-6000, extensión 64603.</p>
              </li>
              <div class="well">
                <p><strong>Entrega la siguiente documentación al inscribirte:</strong></p>
                <p>1 original y 2 copias de la ficha de depósito. </p>
                <p>Efectivo para el pago de la guía de estudios de $298.00 (doscientos noventa y ocho pesos 00/100 M. N.).</p>
                <p>1 copia de tu CURP.</p>
                <p>Carta compromiso y carta de lineamientos debidamente firmadas.</p>
              </div>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
        <div id="superior" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header panel-head-azul">
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h2 class="modal-title" align="center"><strong>Instrucciones<br>
                Curso propedéutico para el examen de admisión al nivel superior</strong></h2>
              </div>
              <div class="modal-body">
                <h3 align="center"><strong>Indicaciones</strong></h3>
                <ol type="1">
                  <li>
                    <p>Captura tus datos personales <strong>a partir del 16 de noviembre de 2017 y hasta el viernes 20 de enero de 2018</strong>.</p>
                  </li>
                  <li>
                    <p>Imprime la Carta Compromiso y la Carta de Lineamientos anexa en el sistema, verifica que tus datos sean correctos, fírmala y pide a tu padre o tutor que la firme.</p>
                  </li>
                  <li>
                    <p><strong>Efectua el pago</strong> exacto de la cuota por una cantidad de <strong>$2,542.00 (dos mil quinientos cuarenta y dos pesos 00/100 M. N.)</strong> al número de cuenta
                     <strong>01 68 35 82 73</strong> de BBVA Bancomer S. A., a nombre del fondo de <strong>Investigación Científica y Desarrollo Tecnológico del Instituto Politécnico Nacional</strong>.</p>
                     <div class="bs-callout bs-callout-info">
                       <p>En el caso de realizar una transferencia electrónica deberá traer una impresión de pantalla como comprobante de pago.</p>
                     </div>
                  </li>
                  <li>
                    <p>El día que te presentes a inscribirte, deberás pagar en efectivo la cuota de <strong>$298.00 (doscientos noventa y ocho pesos 00/100 M. N.)</strong> para la guía de estudios.</p>
                    <div class="bs-callout bs-callout-danger">
                      <p>El pago de las cuotas te dan derecho a participar en el curso, a la guía de estudios que emite el Instituto Politénico Nacional, al material didáctico
                      que elaboramos para ti, a las evaluaciones diagnóstica y piloto, entre otros materiales que se te proporcionarán durante el desarrollo del curso.</p>
                      <p><strong>Nota: estas cuotas tienen vigencia hasta el 31 de diciembre de 2017, a partir del 01 de enero de 2018 tendrán un incremento que establecerá
                      la Secretaría de Hacienda y Crédito Público.</strong></p>
                    </div>
                  </li>
                  <li>
                    <p><strong>Acude a inscribirte</strong> a nuestras instalaciones ubiucadas en Allende número 38 (entrada por Belisario Domínguez número 22), Colonia Centro, Delegación Cuauhtémoc,
                    Ciudad de México, Código Postal 06010 <strong>a partir del 16 de noviembre de 2017 y hasta el día 20 de enero de 2018, en un horario de 10:00 a 14:00 y de 15:00 a
                    19:00 horas de lunes a viernes</strong>.</p>
                  </li>
                  <li>
                    <p>Si necesitas más información puedes llamar al 57-29-6000, extensión 64603.</p>
                  </li>
                  <div class="well">
                    <p><strong>Entrega la siguiente documentación al inscribirte:</strong></p>
                    <p>1 original y 2 copias de la ficha de depósito. </p>
                    <p>Efectivo para el pago de la guía de estudios de $298.00 (doscientos noventa y ocho pesos 00/100 M. N.).</p>
                    <p>1 copia de tu CURP.</p>
                    <p>Carta compromiso y Carta de Lineamientos debidamente firmadas.</p>
                  </div>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
              </div>
            </div>

          </div>
        </div>

<script>
  $(document).ready(function(){
    $('.nacimiento').datepicker({language: 'es', format: 'd-M-yyyy'});
  });
</script>

<script type="text/javascript">
   $(window).load(function(){
     $('#entrada').modal('show');
   });
 </script>

<script>
$("#unitario_grupos_unitario_id").on("change", function () {
      $modalMediaSuperior = $('#mediaSuperior');
      $modalSuperior = $('#superior')
      if($("#unitario_grupos_unitario_id option:selected").text() =='Curso de preparación para el examen de admisión al Nivel Medio Superior'){
        $modalMediaSuperior.modal('show',{backdrop: 'static', keyboard: false});
      }
      else if($("#unitario_grupos_unitario_id option:selected").text() =='Curso de preparación para el examen de admisión al Nivel Superior'){
        $modalSuperior.modal('show',{backdrop: 'static', keyboard: false});
      }
 });
</script>
<script>
$('.openmodal').click(function(){
  if($(this).is(':checked')) {
    $('#mensaje-validacion').modal('show');
  } else {
    $('#mensaje-validacion').modal('hide');
  }
});
</script>
