<%= form_for(unitario) do |f| %>
  <% if unitario.errors.any? %>
    <div id="error_explanation">
      <h2>El formulario no pudo guardarse debido a lo siguiente:</h2>
      <ul>
      <% unitario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="bs-callout bs-callout-warning" >
      <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <%= link_to '¿Perdiste tu carta compromiso? Reimprímela', buscar_cartas_path %></strong>
    </div>
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Oferta actual</strong></h4>
  <div class="row">
    <div class="form-group col-sm-7">
      <%= f.label :grupos_unitario_id, 'Nombre del curso' %>
      <%= collection_select(:unitario, :grupos_unitario_id, GruposUnitario.where(estado: 'Abierto'), :id, :nombre, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="modal-header unitarios-info">
  </div>
</div>
<div class="row jumbotron jumbotron-unitarios-info">
  <h4 class="subs"><strong>Informaci&oacute;n general</strong></h4>
  <div class="row">
    <div class="bs-callout bs-callout-warning" style="background: #ffffff;" >
      <strong><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Deberás utilizar mayúsculas y minúsculas</strong>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :curp, 'CURP' %><strong><%= link_to '  ¿No conoce su CURP?', 'http://consultas.curp.gob.mx', html_options = {target: '_blank'} %></strong>
      <%= f.text_field :curp, class: 'form-control', required: true, maxlength: 18 %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :nombre, 'Nombre (s)' %>
      <%= f.text_field :nombre, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :paterno, 'Apellido paterno' %>
      <%= f.text_field :paterno, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :materno, 'Apellido materno' %>
      <%= f.text_field :materno, class:'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-2">
      <%= f.label :sexo %>
      <%= collection_select(:unitario, :sexo, Genero.all, :genero, :genero, {prompt: 'Seleccione'}, class: 'form-control', required: true) %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :nacimiento, 'Fecha de nacimiento' %><br>
      <div class="input-group date">
        <%= f.text_field :nacimiento, class:'nacimiento form-control' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :domicilio, 'Domicilio (calle, número y colonia)' %>
      <%= f.text_field :domicilio, class:'form-control', required: true %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :codigo_postal, 'Código postal'  %>
      <%= f.text_field :codigo_postal, class:'form-control', required: true, maxlength: 5, pattern: '[0-9]+' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :entidad, 'Entidad federativa' %>
      <%= f.text_field :entidad, class:'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <%= f.label :delegacion_municipio, 'Delegación o municipio' %>
      <%= f.text_field :delegacion_municipio, class:'form-control' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :telefono_celular, 'Teléfono celular' %>
      <%= f.text_field :telefono_celular, class:'form-control', required: true, maxlength: 10, pattern: '[0-9]+' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :telefono_fijo, 'Teléfono fijo' %>
      <%= f.text_field :telefono_fijo, class:'form-control', maxlength: 10, pattern: '[0-9]+' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :correo, 'Correo electrónico' %>
      <%= f.email_field :correo, class:'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3" id="bachillerato" style="display:none">
      <%= f.label :bachillerato_ipn, 'Cursaste tu bachillerato en el IPN' %>
      <%= f.check_box :bachillerato_ipn, class:'form-control' %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :procedencia, 'Escuela de procedencia' %>
      <%= f.text_field :procedencia, class:'form-control' %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :familiar_ipn, 'Familiar (directo) que trabaje en el IPN' %>
      <%= f.check_box :familiar_ipn, class:'form-control' %>
    </div>
  </div>
  <div class="row" id="datos_familiar_ipn" style="display:none">
    <div class="form-group col-sm-4">
      <%= f.label :nombre_ipn, 'Nombre del trabajador del IPN' %>
      <%= f.text_field :nombre_ipn, class:'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :unidad_ipn, 'Unidad de adscripción del trabajador' %>
      <%= f.text_field :unidad_ipn, class:'form-control' %>
    </div>
    <div class="form-group col-sm-4">
      <%= f.label :parentesco_ipn, 'Parentesco con el alumno' %>
      <%= f.select :parentesco_ipn, options_for_select([["Seleccione",""],["Hermana","Hermana"],["Hermano","Hermano"],["Madre","Madre"],["Padre","Padre"]]), {}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :nombre_padre, 'Nombre completo del padre o tutor' %>
      <%= f.text_field :nombre_padre, class:'form-control', required: true %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :correo_padre, 'Correo electrónico del padre o tutor' %>
      <%= f.email_field :correo_padre, class:'form-control' %>
    </div>

    <div class="form-group col-sm-4">
      <%= f.label :telefono_padre, 'Teléfono del padre o tutor' %>
      <%= f.text_field :telefono_padre, class:'form-control', required: true, maxlength: 10, pattern: '[0-9]+' %>
    </div>
  </div>
  <strong><%= link_to 'Aviso de privacidad', 'https://www.gob.mx/privacidad', html_options = {target: '_blank'} %></strong>
</div>
<div class="row">
  <div class="modal-header unitarios-foto">
  </div>
</div>
<div class="row jumbotron">
  <h4 class="subs"><strong>Fotografía</strong></h4>
  <div class="form-group col-md-6">
    <div class="bs-callout bs-callout-info" style="background: #fff;">
      <p class="info-foto">El archivo deberá ser menor a 2 MB</p>
      <p class="info-foto">No utilizar imágenes que contengan sellos y/o firmas</p>
      <p class="info-foto"><strong>Ejemplos:</strong></p>
        <%= image_tag "hombre.png", alt:"Ejemplo hombre" %> &nbsp; <%= image_tag "mujer.png", alt:"Ejemplo mujer" %>
        <br>
        <br>
    </div>
    <%= f.label :image, 'Suba su fotografía' %>
    <%= f.file_field :image, class:'btn btn-lg btn-default' %>
  </div>

  <div class="form-group col-md-6">
    <center>
      <%= link_to image_tag("pasos_p.png"), "/assets/pasos_g-9510116fca58ed1fc56d8b439b93f81d5e051b67c0b90bf5942e570c12ac4660.png", data: {toggle: "lightbox", title: " "} %>
    </center>
  </div>
</div>
<% if user_signed_in? %>
  <% if can? :validar_documentos, unitario %>
  <div class="row jumbotron">
    <h4 class="subs"><strong>Control escolar</strong></h4>
    <div class="row">
      <div class="form-group col-sm-3">
        <%= f.label :documentos_validados, "Documentos validados" %>
        <%= f.check_box :documentos_validados, class: 'form-control openmodal' %>
      </div>
      <div class="form-group col-sm-3">
        <%= f.label :solicito_beca, "¿Solicitó beca?" %>
        <%= f.check_box :solicito_beca, class: 'form-control' %>
      </div>
      <div class="form-group col-sm-2">
        <%= f.label :fecha_validacion, 'Fecha de validación' %><br>
        <div class="input-group date">
          <%= f.text_field :fecha_validacion, class:'validacion form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-3">
        <%= f.label :image, 'Fotografía' %><br>
        <% if unitario.image.present? %>
          <%= image_tag unitario.image.url('thumb') %>
          <br>
          <br>
          <%= link_to 'imagen original', unitario.image.url %>
        <% else %>
          <%= "Falta fotogrtafía" %>
        <% end %>
      </div>
      <!--<%# if can? :habilitar_contancia, unitario %>
        <div class="form-group col-sm-3">
          <%#= f.label :habilitar_constancia, "Constancia" %>
          <%#= f.check_box :habilitar_constancia, class: 'form-control' %>
        </div>
      <%# end %>-->
    </div>
  </div>
  <% end %>
<% end %>

<div class="row">
  <div class="actions col-sm-2">
    <%= f.submit 'Enviar', class:'btn btn-primary' %>
  </div>
</div>
<% end %>

<div id="mensaje-validacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header panel-head-azul">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><strong>Importante</strong></h4>
            </div>
            <div class="modal-body">
                <p>Antes de validar asegúrese de que <strong>no falta ninguno</strong> de los siguientes documentos:</p>
                <ul>
                    <li><p>La fotografía en el sistema</p></li>
                    <li><p>CURP</p></li>
                    <li><p>Pago de la guía de estudios</p></li>
                    <li><p>Ficha de pago</p></li>
                    <li><p>Carta compromiso y carta de lineamientos debidamente firmada</p></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal de entrada -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="entrada">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 align="center">Importante</h1>
          </div>
          <center>
            <%= image_tag "cec_escudo.png", alt:"Escudo CECIEMD" %>
          </center>
          <h2 align="center">La recepción de documentación para las inscripciones a los cursos de preparación para el examen de admisión al nivel medio superior y superior se reanudará el día 2 de enero de 2018.</h2>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>

<!-- Modal -->
    <div id="mediaSuperior" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header panel-head-azul">
            <h2 class="modal-title" align="center"><strong>Instrucciones<br>
            Curso propedéutico para el examen de admisión al nivel medio superior</strong></h2>
          </div>
          <div class="modal-body">
            <h3 align="center"><strong>Indicaciones</strong></h3>
            <ol type="1">
              <li>
                <p>Captura tus datos personales <strong>a partir del 16 de noviembre de 2017 y hasta el viernes 27 de enero de 2018</strong>.</p>
              </li>
              <li>
                <p>Imprime la Carta Compromiso y la Carta de Lineamientos anexa en el sistema, verifica que tus datos sean correctos, fírmala y pide a tu padre o tutor que la firme.</p>
              </li>
              <li>
                <p><strong>Efectúa el pago</strong> exacto de la cuota por una cantidad de <strong>$2,185.00 (dos mil ciento ochenta y cinco pesos 00/100 M. N.)</strong> al número de cuenta <strong>01 68 35 82 73</strong> de BBVA Bancomer
                   S. A., a nombre del <strong>Fondo de Investigación Científica y Desarrollo Tecnológico del Instituto Politécnico Nacional</strong> ó por transferencia interbancaria a la <strong>CLABE:
                   012 180 00168358273 9</strong> de BBVA Bancomer S. A..</p>
                <div class="bs-callout bs-callout-info">
                  <p>En el caso de utilizar de la transferencia interbancaria deberá realizar una impresión de pantalla para verificar su pago.</p>
                </div>
              </li>
              <li>
                <p><strong>El día que te presentes a inscribirte, deberás pagar en efectivo</strong> la cuota de <strong>$298.00 (doscientos noventa y ocho pesos 00/100 M. N.)</strong> para la
                  guía de estudios.</p>
                 <div class="bs-callout bs-callout-danger">
                  <p>El pago de las cuotas te dan derecho a participar en el curso, a la guía de estudios que emite el Instituto Politénico Nacional, al material didáctico
                  que elaboramos para ti, a las evaluaciones diagnóstica y piloto, entre otros materiales que se te proporcionarán durante el desarrollo del curso.</p>
                  <p><strong>Nota: estas cuotas tienen vigencia hasta el 31 de diciembre de 2017, a partir del 01 de enero de 2018 tendrán un incremento que establecerá
                   la Secretaría de Hacienda y Crédito Público.</strong></p>
                 </div>
              </li>
              <li>
                <p><strong>Acude a inscribirte</strong> a nuestras instalaciones ubicadas en Allende número 38 (entrada por Belisario Domínguez número 22), Colonia Centro, Delegación Cuauhtémoc,
                Ciudad de México, Código Postal 06010 <strong>a partir del 16 de noviembre de 2017 y hasta el día 27 de enero de 2018, en un horario de 10:00 a 14:00 y de 15:00 a
                19:00 horas de lunes a viernes</strong>.</p>
              </li>
              <li>
                <p>Si necesitas más información puedes llamar al 57-29-6000, extensiones 64623 y 64646.</p>
              </li>
              <div class="well">
                <p><strong>Entrega la siguiente documentación al inscribirte:</strong></p>
                <p>1 original y 2 copias de la ficha de depósito. </p>
                <p>Efectivo para el pago de la guía de estudios de $298.00 (doscientos noventa y ocho pesos 00/100 M. N.).</p>
                <p>1 copia de tu CURP.</p>
                <p>Carta compromiso y carta de lineamientos debidamente firmadas.</p>
              </div>
            </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Modal -->
        <div id="superior" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header panel-head-azul">
                <h2 class="modal-title" align="center"><strong>Instrucciones<br>
                Curso de preparación para el examen de admisión al nivel superior</strong></h2>
              </div>
              <div class="modal-body">
                <h3 align="center"><strong>Indicaciones</strong></h3>
                <ol type="1">
                  <li>
                    <p>Captura tus datos personales <strong>a partir del 16 de noviembre de 2017 y hasta el viernes 20 de enero de 2018</strong>.</p>
                  </li>
                  <li>
                  <p>En el caso de utilizar de la transferencia interbancaria deberá realizar una impresión de pantalla para verificar su pago.</p>
                  </li>
                  <li>
                    <p><strong>Efectúa el pago exacto</strong> de la cuota por una cantidad de $2,711.00 (dos mil setecientos once pesos 00/100 M. N.)</strong> al número
                      de cuenta <strong>01 68 35 82 73</strong> de BBVA Bancomer S. A., a nombre del <strong>Fondo de Investigación Científica y Desarrollo Tecnológico del
                      Instituto Politécnico Nacional</strong> ó por transferencia interbancaria a la <strong>CLABE: 012 180 00168358273 9</strong> de BBVA Bancomer S. A.</p>
                     <div class="bs-callout bs-callout-info">
                       <p>En el caso de realizar una transferencia electrónica deberá traer una impresión de pantalla como comprobante de pago.</p>
                     </div>
                  </li>
                  <li>
                    <p>El día que te presentes a inscribirte, deberás pagar en efectivo la cuota de <strong>$298.00 (doscientos noventa y ocho pesos 00/100 M. N.)</strong> para la guía de estudios.</p>
                    <div class="bs-callout bs-callout-danger">
                      <p>El pago de las cuotas te dan derecho a participar en el curso, a la guía de estudios que emite el Instituto Politénico Nacional, al material didáctico
                      que elaboramos para ti, a las evaluaciones diagnóstica y piloto, entre otros materiales que se te proporcionarán durante el desarrollo del curso.</p>
                      <p><strong>Nota: estas cuotas tienen vigencia hasta el 31 de diciembre de 2017, a partir del 01 de enero de 2018 tendrán un incremento que establecerá
                      la Secretaría de Hacienda y Crédito Público.</strong></p>
                    </div>
                  </li>
                  <li>
                    <p><strong>Acude a inscribirte</strong> a nuestras instalaciones ubicadas en Allende número 38 (entrada por Belisario Domínguez número 22), Colonia Centro, Delegación Cuauhtémoc,
                    Ciudad de México, Código Postal 06010 <strong>a partir del 16 de noviembre de 2017 y hasta el día 20 de enero de 2018, en un horario de 10:00 a 14:00 y de 15:00 a
                    19:00 horas de lunes a viernes</strong>.</p>
                  </li>
                  <li>
                    <p>Si necesitas más información puedes llamar al 57-29-6000, extensiones 64623 y 64646.</p>
                  </li>
                  <div class="well">
                    <p><strong>Entrega la siguiente documentación al inscribirte:</strong></p>
                    <p>1 original y 2 copias de la ficha de depósito. </p>
                    <p>Efectivo para el pago de la guía de estudios de $298.00 (doscientos noventa y ocho pesos 00/100 M. N.).</p>
                    <p>1 copia de tu CURP.</p>
                    <p>Carta compromiso y Carta de Lineamientos debidamente firmadas.</p>
                  </div>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>
              </div>
            </div>

          </div>
        </div>

<script type="text/javascript">
  $(window).load(function(){
    $('#entrada').modal('show');
  });
</script>

<script>
  $(document).ready(function(){
    $('.nacimiento').datepicker({language: 'es', format: 'd-M-yyyy'});
    $('.validacion').datepicker({language: 'es', todayBtn: 'linked', todayHighlight: true});
  });
</script>

<script>
$("#unitario_grupos_unitario_id").on("change", function () {
      $modalMediaSuperior = $('#mediaSuperior');
      $modalSuperior = $('#superior')
      if($("#unitario_grupos_unitario_id option:selected").text() =='Curso propedéutico para el examen de admisión al Nivel Medio Superior'){
        $modalMediaSuperior.modal('show',{backdrop: 'static', keyboard: false});
      }
      else if($("#unitario_grupos_unitario_id option:selected").text() =='Curso de preparación para el examen de admisión al Nivel Superior'){
        $modalSuperior.modal('show',{backdrop: 'static', keyboard: false});
      }
 });
</script>
<script>
$('.openmodal').click(function(){
  if($(this).is(':checked')) {
    $('#mensaje-validacion').modal('show');
  } else {
    $('#mensaje-validacion').modal('hide');
  }
});
</script>
<script>
$('#unitario_familiar_ipn').click(function() {
  $("#datos_familiar_ipn").toggle(this.checked);
});
</script>
<script>
function bachillerato(){
  var grupo = $('#unitario_grupos_unitario_id option:selected').text();
  if (grupo == "Curso de preparación para el examen de admisión al Nivel Superior"){
    $("#bachillerato").show();
  }
  else {
    $("#bachillerato").hide();
  }
}
$("select").change(bachillerato);
bachillerato();
</script>
