<div class="row">
  <div id="carta">
      <div style="page-break-after: always;">
      <!--<h2 align="center"><strong><%#= @unitario.grupos_unitario.nombre.parameterize(separator: ' ').upcase %></strong></h3>-->
      <h3 align="center"><strong>CARTA COMPROMISO</strong></h3>
      <!--<h4>FOLIO <%#= @unitario.id %></h4>-->
      <p align="right"><strong>Ciudad de México, a <%= Date.today.strftime("%d") %> de  <%= @mes %> de <%= Date.today.strftime("%Y") %></strong></p>
      <p class="carta"><strong>DR. RICARDO OCTAVIO ARTURO MOTA PALOMINO<br>
      DIRECTOR DEL CENTRO DE EDUCACIÓN CONTINUA<br>
      INGENIERO EUGENIO MÉNDEZ DOCURRO DEL<br>
      <!--P R E S E N T E-->
      INSTITUTO POLITÉCNICO NACIONAL</strong></p>
      <!--<center>
        <p>Datos del interesado</p>
        <table class="table table-bordered">
          <tr>
            <td rowspan="3"><p align="center"><strong>El que suscribe</strong></p></td>
          </tr>
          <tr>
            <td><p align="center"><%= @unitario.paterno %>
            <br><strong>Apellido paterno</strong></p></td>
            <td><p align="center"><%= @unitario.materno %>
            <br><strong>Apellido materno</strong></p></td>
            <td><p align="center"><%= @unitario.nombre %>
            <br><strong>Nombres(s)</strong></p></td>
          </tr>
        </table>
      </center>-->
    <!--<p>Me comprometo con el Centro de Educación Continua Ingeniero Eugenio Méndez Docurro
      del Instituto Politécnico Nacional, que usted dignamente dirige, a acatar las
      disposiciones reglamentarias y de disciplina que rigen la vida institucional;
      en el entendido de que si quebranto la normatividad, aceptaré las sanciones a que
      me haga acreedor, incluyendo en su caso, reparar de inmediato cualquier desperfecto
      ocasionado al inmueble, instalaciones o equipamiento; o en su caso, cubrir el total
      del importe derivado de dicha reparación.</p>-->
      <p align="justify">
        Yo  <%= @unitario.nombre %>  <%= @unitario.paterno %>  <%= @unitario.materno %>,
        participante del  <%= @unitario.grupos_unitario.nombre %>, manifiesto que he leído los Lineamientos
        de Conducta, los comprendo y me comprometo a cumplir las disposiciones reglamentarias y de
        disciplina que rigen la vida institucional del Centro de Educación Continua Ingeniero Eugenio
        Méndez Docurro del Instituto Politécnico Nacional. En el entendido de que sí quebranto alguna
        disposición, aceptaré las sanciones a que me haga acreedor, incluyendo la expulsión inmediata
        del curso. De igual manera me comprometo a reparar de forma inmediata cualquier desperfecto
        ocasionado al inmueble o al mobiliario, cubriendo el importe total de recursos económicos
        que se deriven de dicha reparación.
      </p>
      <p align="justify">
        Adicionalmente, comprendo que participar en el curso antes referido, no me otorga el derecho de
        obtener un lugar para ingresar al Instituto Politécnico Nacional, ni en ninguna otra institución
        educativa para el ciclo escolar 2019 – 2020.
      </p>
      <!--<p>Cabe mencionar que estoy plenamente consciente de que el hecho de inscribirme,
        sustentar y acreditar este curso propedéutico, de ninguna manera implica la aceptación
        automática en el Instituto Politécnico Nacional ni en ninguna otra institución educativa
        para el ciclo escolar 2018-2019.</p>-->
      <p align="center">A T E N T A M E N T E</p>
      <br>
      <p align="center">_____________________________________<br>
      <%= @unitario.nombre_paterno_materno %><br>
      Folio de inscripción: <%= @unitario.id %></p>
      <br>
      <p align="center">_____________________________________<br>
      <%= @unitario.nombre_padre %><br>
      Firma del Padre o tutor</p>
      </div>
      <div style="page-break-after: always;">
      <h2 align="center"><strong><%= @unitario.grupos_unitario.nombre.parameterize(separator: ' ').upcase %></strong></h2>
      <h2 align="center">LINEAMIENTOS DE CONDUCTA</h2>
      <p>
        Estimado estudiante del “<%= @unitario.grupos_unitario.nombre %>”, el equipo de profesores, prefectos, coordinadores
        académicos y autoridades del Centro de Educación Continua Ingeniero Eugenio
        Méndez Docurro del Instituto Politécnico Nacional, te damos la más cordial
        bienvenida y un fraternal saludo <strong><i>Politécnico</i></strong>. Con la finalidad de que nuestras
        actividades académicas se desarrollen en un marco de respeto, cordialidad y
        seguridad, en un ambiente de aprendizaje con valores y responsabilidad, te
        invitamos a que cumplas los lineamientos de comportamiento al interior de
        nuestras instalaciones siguientes:
      </p>
      <ol type="1">
        <li>
          <p>Muestra tu credencial para poder ingresar a las instalaciones y cuando el personal del Centro te lo solicite.</p>
        </li>
        <% if @unitario.grupos_unitario.nombre.include? "Curso de Preparación para el Examen de Admisión al Nivel Superior" %>
        <li>
          <p>Permanece en las instalaciones sólo en tu horario, la entrada es de las 14:40 a las 15:00 horas y la salida de las 20:40 a las 21:00 horas.</p>
        </li>
        <li><p>Sí te es necesario salir de las instalaciones, puedes hacerlo bajo tu responsabilidad, únicamente en el primer receso.</p>
        </li>
        <li>
          <p>En el caso de que nuestro Servicio Médico considere que debes retirarte por cuestiones de salud, se notificará a algún
            familiar, padre o tutor, por lo cual se te solicita dejar un número telefónico donde sea fácil su localización.
          </p>
        </li>
        <li>
          <p>Dirigete con respeto para con tus compañeros, tus profesores, personal y autoridades del Centro.
          </p>
        </li>
        <li>
          <p>Mantén orden y disciplina en tu aula, así como en las instalaciones.</p>
        </li>
        <li>
          <p>No consumas alimentos ni bebidas al interior de las aulas. Evita masticar chicle.</p>
        </li>
        <li>
          <p>Cuida nuestras instalaciones, no rayes ni maltrates mobiliario en general o equipo
            de cómputo. Sí lo haces, deberás cubrir con tus recursos económicos el total del monto del daño ocasionado.
          </p>
        </li>
        <li>
          <p>Queda estrictamente prohibido introducir al Centro objetos punzocortantes,
            armas de fuego, bebidas alcohólicas, drogas y juegos de azar.</p>
        </li>
        <li>
          <p>No traigas contigo pelotas, patinetas, patines, entre otros. No contamos con espacios propicios para jugar o correr.</p>
        </li>
        <li>
          <p>Evita acercarte a las bardas del estacionamiento y al socavón.</p>
        </li>
        <li>
          <p>Reserva expresar tus muestras de cariño a compañeros para cuando estés fuera de las instalaciones.</p>
        </li>
        <li>
          <p>Queda prohibido el uso de celulares y/o dispositivos móviles durante las clases. El Centro
            se deslinda de cualquier responsabilidad por la pérdida o mal uso de celulares y dispositivos móviles.</p>
        </li>
        <li>
          <p>
            Es motivo de expulsión del curso, lo siguiente:
          </p>
          <ol type="a">
            <li>
              <p>El uso de lenguaje agresivo, muestras de indisciplina, falta de respeto hacia tus compañeros, profesores y/o personal del Centro.</p>
            </li>
            <li>
              <p>Fumar o consumir cualquier sustancia que altere tu estado físico o emocional.</p>
            </li>
            <li>
              <p>Traer objetos punzocortantes, armas de fuego o cualquier otro objeto que resulte peligroso para los demás participantes.</p>
            </li>
            <li><p>Propiciar o participar en peleas al interior del Centro.</p></li>
            <li><p>Participar o generar apuestas en juegos de azar (cartas, dados, poliana-poleana), etc.</p>
            </li>
            <li><p>Tomar bienes que no sean de su propiedad.</p></li>
          </ol>
        </li>
      </ol>
      <p>Sabemos que juntos lograremos una formación integral de sus hijos, gracias por su confianza.</p>
      <% elsif @unitario.grupos_unitario.nombre.include? "Curso de Preparación para el Examen de Admisión al Nivel Medio Superior" %>
      <li>
        <p>Permanece en las instalaciones sólo en tu horario de clases, la entrada es de las
          07:40 a las 08:00 horas y la salida de las 13:40 a las 14:00 horas.</p>
      </li>
      <li><p>Se te recomienda traer tus alimentos y bebidas para consumirlos en los descansos,
        una vez que ingresas no se te permitirá que salgas de las instalaciones.</p>
      </li>
      <li><p>Puedes retirarte antes de que concluyan tus clases, mediante solicitud de
        permiso de tu padre o tutor por escrito y que sea el mismo quién venga por ti. La
        solicitud de permiso tendrá que ser dirigida al director de este Centro con atención al Coordinador Académico Ing. Armando Aparicio Pérez.</p>
      </li>
      <li><p>En el caso de que nuestro Servicio Médico considere que debes retirarte por
        cuestiones de salud, se localizará a tu padre o tutor para que venga por ti, por
        lo cual se te solicita dejar un número telefónico donde sea fácil su localización.</p>
      </li>
      <li>
        <p>Dirigite con respeto para con tus compañeros, tus profesores, personal y autoridades del Centro.
        </p>
      </li>
      <li>
        <p>Mantén orden y disciplina en tu aula, así como en las instalaciones.
        </p>
      </li>
      <li>
        <p>No consumas alimentos ni bebidas al interior de las aulas. Evita masticar chicle.</p>
      </li>
      <li>
        <p>Cuida nuestras instalaciones, no rayes ni maltrates mobiliario en general o equipo
          de cómputo. Sí lo haces, deberás cubrir con tus recursos económicos el total del monto del daño ocasionado.
        </p>
      </li>
      <li>
        <p>Queda estrictamente prohibido introducir al Centro objetos punzocortantes,
          armas de fuego, bebidas alcohólicas, drogas y juegos de azar.</p>
      </li>
      <li>
        <p>No traigas contigo pelotas, patinetas, patines, entre otros. No contamos con espacios propicios para jugar o correr.</p>
      </li>
      <li>
        <p>Evita acercarte a las bardas del estacionamiento y al socavón.</p>
      </li>
      <li>
        <p>Reserva expresar tus muestras de cariño a compañeros para cuando estés fuera de las instalaciones.</p>
      </li>
      <li>
        <p>Queda prohibido el uso de celulares y/o dispositivos móviles durante las clases. El Centro
          se deslinda de cualquier responsabilidad por la pérdida o mal uso de celulares y dispositivos móviles.</p>
      </li>
      <li>
        <p>
          Es motivo de expulsión del curso, lo siguiente:
        </p>
        <ol type="a">
          <li>
            <p>El uso de lenguaje agresivo, muestras de indisciplina, falta de respeto hacia tus compañeros, profesores y/o personal del Centro.</p>
          </li>
          <li>
            <p>Fumar o consumir cualquier sustancia que altere tu estado físico o emocional.</p>
          </li>
          <li>
            <p>Traer objetos punzocortantes, armas de fuego o cualquier otro objeto que resulte peligroso para los demás participantes.</p>
          </li>
          <li><p>Propiciar o participar en peleas al interior del Centro.</p></li>
          <li><p>Participar o generar apuestas en juegos de azar (cartas, dados, poliana-poleana), etc.</p>
          </li>
          <li><p>Tomar bienes que no sean de su propiedad.</p></li>
        </ol>
      </li>
    </ol>
    <p>Sabemos que juntos lograremos una formación integral de sus hijos, gracias por su confianza.</p>
    <% end %>
      </div>
    <% if @unitario.grupos_unitario.nombre.include? "Curso de Preparación para el Examen de Admisión al Nivel Superior" %>
      <h3>CURSO DE PREPARACIÓN PARA EL EXAMEN DE ADMISIÓN A NIVEL SUPERIOR 2019</h3>
      <p><strong>Objetivo:</strong> Te ofrecemos este curso con el objetivo de que refuerces tus conocimientos
        previamente adquiridos, al mismo tiempo que obtendrás nuevos conocimientos,
        habilidades y estrategias para la resolución de preguntas tipo, en las diferentes
        áreas del conocimiento para que seas competitivo al realizar el examen de
        admisión y estés en posibilidad de obtener un lugar en la opción de tu preferencia.</p>
      <p><strong>Duración:</strong> 20 sesiones de 6 horas cada una. Duración total 120 horas</p>
      <p><strong>Horario:</strong> Sábado de 15:00 a 21:00 horas.</p>
      <p><strong>Sede:</strong> Centro de Educación Continua Ingeniero Eugenio Méndez Docurro.
      Belisario Domínguez No. 22 Col. Centro, Alcaldía Cuauhtémoc C.P. 06010.</p>
      <p><strong>Fecha de inicio:</strong> 12 de enero de 2019</p>
      <p><strong>Fecha de término:</strong> 18 de mayo de 2019</p>
      <p><strong>Cuota del curso:</strong> $2,850.00 (Dos mil ochocientos cincuenta pesos 0/100 MN).
      <strong>NOTA: Cuota sujeta a cambios de acuerdo con la actualización para el Ejercicio Fiscal 2019</strong>
      Se paga en el banco en la <strong>cuenta 01 68 35 82 73 de BBVA Bancomer</strong>,
      o bien por transferencia bancaria en la cuenta <strong>CLABE 012 180 00168358273 9
      de BBVA Bancomer</strong> a nombre del Fondo de Investigación Científica y
      Desarrollo Tecnológico del Instituto Politécnico Nacional.</p>
      <p><strong>Cuota de la Guía de Estudio:</strong> $318.00 (Trescientos dieciocho pesos 0/100 MN).
      Se paga en <strong>efectivo</strong> en el Departamento de Servicios Administrativos del Centro.</p>
      <p><i>El pago de las cuotas dan derecho a participar en el curso, a la guía
      de estudios que emite el IPN, al material didáctico que se elabora, a las
      evaluaciones diagnóstica y piloto, entre otros materiales que se proporcionan durante el desarrollo del curso.</i></p>
      <p><strong>Inscripciones en:</strong> www.cec-mendezdocurro.ipn.mx (A partir del 22 de octubre de 2018).</p>
      <p><strong>Procedimiento:</strong></p>
      <ol type="1">
        <li>Ingresar a la página www.cec-mendezdocurro.ipn.mx y acceder al link del Curso de Preparación Para el Examen de Admisión a Nivel Superior 2019</li>
        <li>Registrar datos solicitados y subir fotografía</li>
        <li>Imprimir Lineamientos de Conducta y Carta Compromiso y firmarla</li>
        <li>Realizar el pago del curso en el banco o transferencia bancaria</li>
        <li>Para validar y confirmar inscripción presentarse en el Departamento de Educación Continua del CECIEM con la siguiente documentación:
          <ul>
            <li>Original y 2 copias del comprobante de pago</li>
            <li>Copia de la CURP</li>
            <li>Carta compromiso firmada</li>
            <li>$318.00 en efectivo para el pago de la Guía de Estudio</li>
          </ul>
        </li>
      </ol>
      <p>Recepción de documentos: A partir del 05 de noviembre de 2018 de 10:00 a
        15:00 hrs. y de 16:00 a 19:00 hrs.</p>
      <p>Mayores informes: 5729 6000 Exts. 64641, 64646, 64623</p>
    <% elsif @unitario.grupos_unitario.nombre.include? "Curso de Preparación para el Examen de Admisión al Nivel Medio Superior" %>
    <h3>CURSO DE PREPARACIÓN PARA EL EXAMEN DE ADMISIÓN A NIVEL MEDIO SUPERIOR 2019</h3>
    <p><strong>Objetivo:</strong> Te ofrecemos este curso con el objetivo de que refuerces
      tus conocimientos previamente adquiridos, al mismo tiempo que obtendrás nuevos conocimientos,
      habilidades y estrategias para la resolución de preguntas tipo, en las diferentes
      áreas del conocimiento para que seas competitivo en el concurso de asignación de
      la Educación Media Superior y estés en posibilidad de obtener el lugar de tu
      preferencia en las opciones educativas que ofrecen las instituciones que integran
      la Comisión Metropolitana de Instituciones Públicas de Educación Media Superior (COMIPEMS).</p>
    <p><strong>Duración:</strong> 20 sesiones de 6 horas cada una. Duración total 120 horas</p>
    <p><strong>Horario:</strong> Domingo de 8:00 a 14:00 horas.</p>
    <p><strong>Sede:</strong> Centro de Educación Continua Ingeniero Eugenio Méndez Docurro.
    Belisario Domínguez No. 22 Col. Centro, Alcaldía Cuauhtémoc C.P. 06010.</p>
    <p><strong>Fecha de inicio:</strong> 27 de enero de 2019</p>
    <p><strong>Fecha de término:</strong> 23 de junio de 2019</p>
    <p><strong>Cuota del curso:</strong> $2,711.00 (Dos mil setecientos once pesos 0/100 MN).
    <strong>NOTA: Cuota sujeta a cambios de acuerdo con la actualización para el Ejercicio Fiscal 2019</strong><br>
    Se paga en el banco en la <strong>cuenta 01 68 35 82 73 de BBVA Bancomer</strong>,
    o bien por transferencia bancaria en la cuenta <strong>CLABE 012 180 00168358273 9
    de BBVA Bancomer</strong> a nombre del Fondo de Investigación Científica y
    Desarrollo Tecnológico del Instituto Politécnico Nacional.</p>
    <p><strong>Cuota de la Guía de Estudio:</strong> $318.00 (Trescientos dieciocho pesos 0/100 MN).
    Se paga en <strong>efectivo</strong> en el Departamento de Servicios Administrativos del Centro.</p>
    <p><i>El pago de las cuotas dan derecho a participar en el curso, a la guía
    de estudios que emite el IPN, al material didáctico que se elabora, a las
    evaluaciones diagnóstica y piloto, entre otros materiales que se proporcionan durante el desarrollo del curso.</i></p>
    <p><strong>Inscripciones en:</strong> www.cec-mendezdocurro.ipn.mx (A partir del 22 de octubre de 2018).</p>
    <p><strong>Procedimiento:</strong></p>
    <ol type="1">
      <li>Ingresar a la página www.cec-mendezdocurro.ipn.mx y acceder al link del Curso de Preparación Para el Examen de Admisión a Nivel Medio Superior 2019</li>
      <li>Registrar datos solicitados y subir fotografía</li>
      <li>Imprimir Lineamientos de Conducta y Carta Compromiso y firmarla</li>
      <li>Realizar el pago del curso en el banco o transferencia bancaria</li>
      <li>Para validar y confirmar inscripción presentarse en el Departamento de Educación Continua del CECIEM con la siguiente documentación:
        <ul>
          <li>Original y 2 copias del comprobante de pago</li>
          <li>Copia de la CURP</li>
          <li>Carta compromiso firmada</li>
          <li>$318.00 en efectivo para el pago de la Guía de Estudio</li>
        </ul>
      </li>
    </ol>
    <p>Recepción de documentos: A partir del 05 de noviembre de 2018 de 10:00 a
      15:00 hrs. y de 16:00 a 19:00 hrs.</p>
    <p>Mayores informes: 5729 6000 Exts. 64641, 64646, 64623</p>
    <% end %>
  </div>
</div>
