<div id="carta_compromiso">
  <p style="page-break-before: always;">&nbsp;</p>
  <h3 align="center">CURSO DE PREPARACIÓN PARA EL EXAMEN DE ADMISIÓN AL NIVEL SUPERIOR</h3>
  <h4 align="center">CARTA COMPROMISO</h4>
  <h4>FOLIO 282-1</h4>
  <p align="right"><strong>Ciudad de México, a <%= Date.today.strftime("%d") %> de  <%= @mes %> de <%= Date.today.strftime("%Y") %></strong></p>
  <p><strong>DR. MAURO ALBERTO ENCISO AGUILAR<br>
  DIRECTOR DEL CENTRO DE EDUCACIÓN CONTINUA<br>
  INGENIERO EUGENIO MÉNDEZ DOCURRO DEL IPN<br>
  P R E S E N T E</strong></p>
  <table>
  <tr>
    <td rowspan="3"><p align="center"><strong>El que suscribe</strong></p></td>
    <td colspan="3"><p align="center"><strong>Datos del interesado</strong></p></td>
  </tr>
  <tr>
    <td><p><strong><%= @unitario.paterno %></strong></p></td>
    <td><p><strong><%= @unitario.materno %></strong></p></td>
    <td><p><strong><%= @unitario.nombre %></strong></p></td>
  </tr>
  <tr>
    <td><p align="center"><strong>Apellido paterno</strong></p></td>
    <td><p align="center"><strong>Apellido materno</strong></p></td>
    <td><p align="center"><strong>Nombre(s)</strong></p></td>
  </tr>
</table>


  <p style="page-break-after: always;">&nbsp;</p>

  <p style="page-break-after: always;">&nbsp;</p>
</div>
