<table>
  <tr>
    <td rowspan="3"><br><br><br><%= wicked_pdf_image_tag @unitario.image.url('thumb') %></td>
    <td></td>
  </tr>
  <tr>
    <td class="credencial_nombre" width="225px"><br><br><br><br><br><center><%= @unitario.nombre %> <%= @unitario.paterno %> <%= @unitario.materno %></center></td>
  </tr>
  <tr>
    <td class="curso" width="225px"><%= @unitario.grupos_unitario.nombre.remove("Curso de preparación para el ")  %></td>
  </tr>
</table>
