<% @unitarios.each do |unitario| %>
  <% if unitario.grupos_unitario.nombre.include?("Curso propedéutico para el examen de admisión al Nivel Medio Superior") %>
    <div class="fondo">
      <table>
        <tr>
          <td rowspan="3"><br><br><%= wicked_pdf_image_tag unitario.image.url('thumb') %></td>
          <td></td>
        </tr>
        <tr>
          <td class="credencial_nombre" width="225px"><br><br><br><br><center><%= unitario.nombre %> <%= unitario.paterno %> <%= unitario.materno %></center></td>
        </tr>
        <tr>
          <td class="curso" width="225px"><br><%= unitario.grupos_unitario.nombre_grupo.remove("Curso propedéutico para el examen de admisión al ")  %></td>
        </tr>
      </table>
    </div>
    <br>
    <br>
  <% elsif unitario.grupos_unitario.nombre.include?("Curso de preparación para el examen de admisión al Nivel Superior") %>
    <div class="fondo-superior">
      <table>
        <tr>
          <td rowspan="3"><br><br><%= wicked_pdf_image_tag unitario.image.url('thumb') %></td>
          <td></td>
        </tr>
        <tr>
          <td class="credencial_nombre" width="225px"><br><br><br><br><center><%= unitario.nombre %> <%= unitario.paterno %> <%= unitario.materno %></center></td>
        </tr>
        <tr>
          <td class="curso" width="225px"><br><%= unitario.grupos_unitario.nombre_grupo.remove("Curso de preparación para el examen de admisión al ")  %></td>
        </tr>
      </table>
    </div>
    <br>
    <br>
  <% end %>
<% end %>
