<h1 class="sub">Registros de inscripción de cursos unitarios</h1>

<%= form_for_filterrific @filterrific do |f| %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.label :search_query, 'Búsqueda por nombre' %>
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed form-control'
      ) %>
    </div>
    <div class="col-md-3">
      <%= f.label :with_grupos_unitario_id, 'Nombre del curso' %>
      <%= f.select(
        :with_grupos_unitario_id,
        @filterrific.select_options[:with_grupos_unitario_id],
        { include_blank: '- Cualquiera -' }, class:'form-control'
      ) %>
      <br>
    </div>
    <div class="col-md-2">
      <%= f.label :with_documentos_validados, 'Filtrar por estado' %>
      <%= f.select(:with_documentos_validados, @filterrific.select_options[:with_documentos_validados], { include_blank: '- Por defecto -'}, class:'form-control') %>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :with_updated_at_gte, 'Fecha mayor o igual' %><br>
      <div class="input-group date">
        <%= f.text_field :with_updated_at_gte, class:'dia form-control' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <div class="form-group col-sm-2">
      <%= f.label :with_updated_at_lt, 'Fecha menor que' %><br>
      <div class="input-group date">
        <%= f.text_field :with_updated_at_lt, class:'dia-lim form-control' %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :with_grupos_creados_id, 'Nombre del grupo' %>
      <%= f.select(
        :with_grupos_creados_id,
        @filterrific.select_options[:with_grupos_creados_id],
        { include_blank: '- Cualquiera -' }, class:'form-control'
      ) %>
      <br>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-3">
        <%= link_to(
          'Quitar filtros',
          reset_filterrific_url,
          class: 'btn btn-primary'
        ) %>
      </div>
  </div>
</div>
  <%# add an automated spinner to your form when the list is refreshed %>
<% end %>

<%= render(
  partial: 'unitarios/registros',
  locals: { unitarios: @unitarios }
) %>

<%= link_to 'Crear nuevo registro', new_unitario_path %>
<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>
<script>
  $(document).ready(function(){
    $('.dia').datepicker({format: 'yyyy/mm/dd', language: 'es'});
    $('.dia-lim').datepicker({format: 'yyyy/mm/dd', language: 'es'});
  });
</script>
