<%= form_tag(editar_datos_unitarios_path, method: :get) do %>
<h1 class="sub">Registros de inscripción de cursos unitarios</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Monto pagado</th>
      <th>Movimiento bancario</th>
      <th>Documentos validados</th>
      <th>Fecha de creación</th>
      <th>Grupo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unitarios.each do |unitario| %>
      <tr>
        <td><%= check_box_tag "unitario_ids[]", unitario.id %></td>
        <td><%= unitario.paterno_materno_nombre %></td>
        <td></td>
        <td></td>
        <% if unitario.documentos_validados == true %>
          <td class="success"><%= unitario.documentos_validados ? 'Si' : 'No' %></td>
        <% else %>
          <td class="danger"><%= unitario.documentos_validados ? 'Si' : 'No' %></td>
        <% end %>
        <td><%= unitario.creado %></td>
        <td><%= unitario.grupos_unitario.nombre %></td>
        <td><%= link_to 'Mostrar', unitario %></td>
        <td><%= link_to 'Editar', edit_unitario_path(unitario) %></td>
        <td><%= link_to 'Eliminar', unitario, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<input type="checkbox" id="selectAll" value="selectAll"><strong> Seleccionar / Deseleccionar todos</strong><br><br>
<%= submit_tag "Editar seleccionados", class: 'btn btn-primary' %>
<% end %>
<br>

<%= link_to 'Crear nuevo registro', new_unitario_path %>
<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;
       });
   }
});
</script>
