<p>
  <strong>Curp:</strong>
  <%= @unitario.curp %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @unitario.nombre %>
</p>

<p>
  <strong>Paterno:</strong>
  <%= @unitario.paterno %>
</p>

<p>
  <strong>Materno:</strong>
  <%= @unitario.materno %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @unitario.sexo %>
</p>

<p>
  <strong>Nacimiento:</strong>
  <%= @unitario.nacimiento %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @unitario.domicilio %>
</p>

<p>
  <strong>Codigo postal:</strong>
  <%= @unitario.codigo_postal %>
</p>

<p>
  <strong>Entidad:</strong>
  <%= @unitario.entidad %>
</p>

<p>
  <strong>Delegacion municipio:</strong>
  <%= @unitario.delegacion_municipio %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @unitario.telefono_celular %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @unitario.telefono_fijo %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @unitario.correo %>
</p>

<p>
  <strong>Procedencia:</strong>
  <%= @unitario.procedencia %>
</p>

<p>
  <strong>Nombre padre:</strong>
  <%= @unitario.nombre_padre %>
</p>

<p>
  <strong>Correo padre:</strong>
  <%= @unitario.correo_padre %>
</p>

<p>
  <strong>Telefono padre:</strong>
  <%= @unitario.telefono_padre %>
</p>

<%= link_to 'Edit', edit_unitario_path(@unitario) %> |
<%= link_to 'Back', unitarios_path %>
