<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="d-none d-md-block">
            <nav class="navbar fixed-top" role="navigation" id="barraGobmx">
                <div class="container u-noPaddingContainer">
                    <a class="navbar-brand" style="padding-left: 8px;" href="https://www.gob.mx/">
                        <%= image_tag "gobmxlogo.svg", alt:"Página de inicio, Gobierno de México", height:29 %>
                    </a>
                    <div class="text-right barraGobmx-enlaces">
                        <a href="https://www.gob.mx/tramites" title="Trámites" class="nav-link">
                            Trámites
                        </a>
                        <a href="https://www.gob.mx/gobierno" title="Gobierno" class="nav-link">
                            Gobierno
                        </a>
                        <a href="https://www.gob.mx/participa" title="Participación Ciudadana" class="nav-link">
                            Participa
                        </a>
                        <a href="https://datos.gob.mx" title="Datos Abiertos" class="nav-link">
                            Datos
                        </a>
                        <a href="https://www.gob.mx/busqueda">
                        <span class="sr-only" class="nav-link">Búsqueda</span><i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

    <div class="u-noPaddingContainer contenedorGobierno">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="d-inline-block ipnLogo-enlace">
                            <%= image_tag "pleca-gob.png", alt:"", class:"plecaGob gob" %>
                            <a href="https://www.ipn.mx" class="">
                                <%= image_tag "pleca-ipn.png", alt:"", class:"plecaGob" %>
                                <p class="d-inline-block tituloLogo">
                                    Instituto Politécnico Nacional <br>
                                    <span class="sm">"La Técnica al Servicio de la Patria"</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="utileriasIpn">
                    <ul class="barra-enlaces">
                        <li>
                            <a href="https://www.ipn.mx/directorio.html">DIRECTORIO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/correo-electronico.html">CORREO ELECTRÓNICO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/calendario-academico.html">CALENDARIO</a> |
                        </li>
                        <li>
                            <a href="https://www.ipn.mx/buzon.html">BUZÓN</a>
                        </li>
                    </ul>
                </div>
                <!-- Opciones de accesibilidad -->
                <div class="contenedorAccesibilidad">
                    <div class="idiomas text-right">

                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse borde">
              <%= render 'layouts/menu' %>
            </div>
            <!--/.navbar-collapse -->
          </div>
        </div>
    <div class="container">
      <div class="row">
        <div id="flash">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
    <footer>
        <!-- inicia footer institucional-->
        	<div class="PiePagina">
            	<hr>
                <h1 align="center">
                  Instituto Polit&eacute;cnico Nacional
                </h1>
              <%= render 'layouts/footer' %>
              <br>
              <br>
              <strong>M&eacute;xico <%= Time.now.year %></strong>
            </p>
        	</div>
        <!-- termina el footer institucional -->
    	</footer>

    <!--<script type="text/javascript">
    $(document).ready(function(){
      setTimeout(function(){
        $('#flash').fadeOut(function() { $(this).remove(); });
      }, 3000);
     })
   </script>-->
  </body>
</html>
